<div class="container d-flex flex-column mb-1 align-items-center">
    <h1 class="text-white mb-4">Contacto</h1>
    <div class="row">
        <div class="col-6">
            <p> Dirección de la Oficina Principal:
                <br>
                123 Calle Principal,
                <br>
                Ciudad Principal,
                <br>
                País
                <br>
                Teléfono: +123 456 789
                <br>
                Correo Electrónico: info&commat;ejemplo.com
            </p>            
        </div>
        <div class="col-6">
            <p class="text-white mb-4">¿Tienes alguna pregunta, sugerencia o simplemente quieres saludarnos? Estamos aquí para ayudarte. No dudes en ponerte en contacto con nuestro equipo de atención al cliente.</p>
        </div>
    </div>


    
    
</div>