<header>
    <div class="header-content">
        <div class="logo">
            <img src="/resources/icon.svg" alt="LOGO"/>
        </div>
        <nav>
            <div id="home-buttons" class="button-container d-none d-lg-block">
                <template id="button-template">
                    <a></a>
                </template>
            </div>
            <div class="dropdown d-lg-none">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="32" data-bs-toggle="dropdown" aria-expanded="false" fill="#ffc107">
                    <path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/>
                </svg>
                <ul class="dropdown-menu" id="dropdown-menu">
                    <template id="button-icon-template">
                        <li><a class="dropdown-item"></a></li>
                    </template>
                </ul>
            </div>
        </nav>
    </div>
    <script id="header-script" src="/templates/header/header.js"></script>
</header>
