<div class="container">
  <h1>Política de Cookies</h1>
  <p><b>1.Introducción</b></p>
  <p>
    Esta política de cookies explica cómo GASTO GESTIÓN utiliza cookies y tecnologías similares para proporcionar,
    personalizar y mejorar su experiencia en nuestra aplicación móvil.
    Al utilizar la aplicación GASTO GESTIÓN, usted acepta el uso de cookies de acuerdo con esta política.
  </p>
  <p><b>2.¿Qué son las cookies?</b></p>
  <p>
    Las cookies son pequeños archivos de texto que se almacenan en su dispositivo cuando utiliza
    una aplicación o visita un sitio web. Estas cookies pueden contener información como preferencias
    de usuario, datos de sesión, información de seguimiento y más.
  </p>
  <p><b>3.¿Cómo usamos las cookies en GASTO GESTIÓN?</b></p>
  <p>
    Utilizamos cookies por diversas razones, que incluyen, entre otras:
  </p>
  <ul>
    <li>Proporcionar una experiencia de usuario personalizada y mejorar la funcionalidad de la aplicación.</li>
    <li>Analizar el uso de la aplicación para mejorar su rendimiento y funcionalidad.</li>
    <li>Recordar las preferencias de los usuarios y ajustar la presentación de la aplicación en consecuencia.</li>
    <li>Proporcionar funcionalidades de seguridad y autenticación.</li>
  </ul>
  <p><b>4.Tipos de cookies que utilizamos</b></p>
  <p>
    A continuación se presentan los tipos de cookies que podemos utilizar en la aplicación GASTO GESTIÓN:
  </p>
  <ul>
    <li><b>Cookies esenciales: </b>Son necesarias para el funcionamiento básico de la aplicación y le permiten
      utilizar sus funciones principales.</li>
    <li><b>Cookies de rendimiento: </b>Recopilan información sobre cómo los usuarios interactúan con la aplicación,
      como qué funciones utilizan con más frecuencia y si experimentan algún problema técnico. Estas cookies se
      utilizan para mejorar el rendimiento de la aplicación.</li>
    <li><b>Cookies de funcionalidad: </b>Permiten que la aplicación recuerde las preferencias de los usuarios y
      proporcione características personalizadas, como el idioma preferido o la configuración de la cuenta.</li>
  </ul>
  <p><b>5.Control de cookies</b></p>
  <p>
    En la aplicación GASTO GESTIÓN, puede controlar y gestionar las cookies a través de la configuración de su
    dispositivo móvil. Tenga en cuenta que deshabilitar las cookies puede afectar su experiencia en la aplicación
    y algunas funciones pueden no estar disponibles.
  </p>
  <p><b>6.Cambios en esta política</b></p>
  <p>
    Nos reservamos el derecho de modificar esta política de cookies en cualquier momento. Cualquier cambio
    significativo será notificado dentro de la aplicación antes de que entre en vigencia.
  </p>
  <p><b>7.Contacto</b></p>
  <p>
    Si tiene alguna pregunta sobre nuestra política de cookies, puede ponerse en contacto con
    nosotros a través de la sección de soporte dentro de la aplicación GASTO GESTIÓN.
  </p>
</div>
