<head>
    <link rel="stylesheet" type="text/css" href="../styles.css">
    <title></title>
</head>
<body>
<header>
    <div class="header-content">
        <div class="logo">
            INICIO
        </div>
        <nav>
            <div id="home-buttons">
                <template>
                    <button class="nav-button">INICIO</button>
                </template>
            </div>
        </nav>
    </div>
    <script src="header.js"></script>
    <script>homeButtons(["test1", "test2", "test3"])</script>
</header>
</body>