<div class="container">
  <h1 class="text-center">Bienvenido a GastoGestión</h1>
  <p class="my-5">
    ¡Bienvenid&#64;, <span id="username">usuario</span>! Esta es tu zona personalizada de gestión de facturas. Aquí podrás
    acceder a todas las herramientas necesarias para manejar tus facturas de forma eficiente y también visualizar
    tus datos de usuario. A través de este menú, podrás agregar nuevas facturas, visualizar las existentes y
    explorar estadísticas detalladas sobre tus transacciones financieras. Nuestra plataforma está diseñada para
    proporcionarte una experiencia fluida y transparente en la gestión de tus finanzas personales o comerciales. Con
    nosotros, tendrás todo lo que necesitas al alcance de tu mano para mantener un control total sobre tus finanzas.
    ¡Disfruta de la comodidad y el control que te ofrecemos aquí, y toma el camino hacia una gestión financiera más
    eficaz y organizada!
  </p>
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-4 text-center mb-5">
      <a class="custom-button">LISTA DE FACTURAS</a>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 text-center mb-5">
      <a class="custom-button">ESTADÍSTICAS</a>
    </div>
    <div class="col text-center mb-5">
      <a class="custom-button">DATOS DE USUARIO</a>
    </div>
  </div>
</div>
