nav {
  text-align: center;
  width: 100%;
  border-top: 1px solid rgba(13, 232, 179, 0.5);
  a {
    flex-grow: 1;
    flex-basis: 0;
    text-decoration: none;
    background-color: transparent;
    color: #0DE8B3;
    border: none;
    margin: 10px;
    cursor: pointer;
  }
}
