<nav>
  <div class="d-flex justify-content-between mx-3">
    <a routerLink="home">
      <img
        ngSrc="https://firebasestorage.googleapis.com/v0/b/gasto-gestion.appspot.com/o/icon.svg?alt=media&token=63ed8e53-6d28-4cfe-8f08-522c3408555e"
        alt="logo" height="120" width="120" priority>
    </a>
    <div class="d-flex align-items-center gap-4">
      @for (button of navButtons; track $index) {
        <a class="custom-button" [routerLink]="button.link">{{button.name}}</a>
      }
    </div>
  </div>
</nav>
