<nav>
  <div class="d-flex justify-content-between mx-3">
    <a routerLink="home">
      <img ngSrc="assets/icon.svg" alt="logo" height="120" width="120" priority>
    </a>
    <div class="d-flex align-items-center gap-4">
      @for (button of navButtons; track $index) {
        @if (button.customAction) {
          <a class="custom-button" (click)="button.customAction()">{{ button.name }}</a>
        } @else {
          <a class="custom-button" [routerLink]="button.link">{{ button.name }}</a>
        }
      }
    </div>
  </div>
</nav>
