<div class="container d-flex flex-column mb-1 align-items-center">
    <h1 class="text-white mb-4">Regístrate</h1>
    <form id="register-user-form">
        <div html-page="/templates/form/form.html" json-data="register-user"></div>
        <div class="d-flex flex-column align-items-center">
            <a style="color: #0DE8B3;" class="mt-4 fs-6" href="/gasto-gestion/web-pages/log-in/log-in.html">¿Ya está registrado? ¡Inicie sesión!</a>
            <button id="submit-button" class="btn btn-outline-warning rounded-4 mt-4">CONFIRMAR</button>
        </div>
    </form>
</div>

