<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gasto Gestión
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button id="open-action-sheet">Open</ion-button>
  <ion-action-sheet
    trigger="open-action-sheet"
    header="Actions"
    [buttons]="actionSheetButtons"
  ></ion-action-sheet>



  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gasto Gestión</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Iniciar Sesión</h1>
    <ion-list>
      <ion-item>
        <ion-input label="Usuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Contraseña"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button>Iniciar</ion-button>

    <p>¿Aún no te has registrado?</p>
  </div>
</ion-content>
