    <div class="container d-flex flex-column align-items-center justify-content-center">
        <h1 style="font-weight: bold">Gasto Gestión</h1>
        <h2 style="font-size: larger; font-weight: bold">Controla tus finanzas, alcanza tus metas: ¡Con nuestra app, tu dinero bajo gestión!</h2>
        <img src="">
        <p>Si necesitas una solución informática para poder gestionar tus finanzas personales o de empresa,
         Gasto Gestión es tu aplicación. Ponemos a tu disposición herramientas para el grabado de facturas,
         colocar categorías a tus gastos y ver las estadísticas de consumo.</p>
        <div class="d-flex flex-column flex-sm-row gap-4">
            <div class="card-home" style="background-image: url('assets/personal.png')">
                <label>Uso Personal</label>
            </div>
            <div class="card-home" style="background-image: url('assets/company.jpg')">
                <label>Uso Empresarial</label>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <h2 class="d-flex justify-content-evenly" style="font-size: large; font-weight: bold">Únete</h2>
        <p class="text-center">Somos la aplicación que necesitas, no dudes más y empieza ya.</p>
        <div class="button-container d-flex justify-content-evenly" >
            <a class ="btn btn-outline-warning" href="/gasto-gestion/web-pages/register-user/register-user.html">EMPIEZA YA</a>
        </div>
    </div>

