<div class="container">
  <h1 id="title">
    @if (invoice) {
      Editar Factura: {{invoice.id}}
    } @else {
      Nueva Factura
    }
  </h1>
  <form [formGroup]="form" *ngIf="form">
    <div class="row pt-5 form-container">
      <div class="col-12 col-sm-6">
        <div class="d-flex flex-column input-container">
          <label class="fw-bold">Id de Factura</label>
          <input [disabled]="true" id="invoiceNumber" [value]="invoice?.id || '-'">
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="d-flex flex-column">
          <label class="fw-bold">Forma de pago</label>
          <input id="paymentType" formControlName="paymentType">
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="d-flex flex-column">
          <label class="fw-bold">Comercio</label>
          <input id="commerce" formControlName="commerce">
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="d-flex flex-column">
          <label class="fw-bold">CIF del comercio</label>
          <input id="cif" formControlName="cif">
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="d-flex flex-column">
          <label class="fw-bold">Concepto</label>
          <input id="concept" formControlName="concept">
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="d-flex flex-column">
          <label class="fw-bold">Tipo de gasto</label>
          <input id="expenseType" formControlName="expenseType">
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="d-flex flex-column">
          <label class="fw-bold">Fecha</label>
          <input type="datetime-local" id="date" formControlName="date">
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="d-flex flex-column">
          <label class="fw-bold">Cantidad</label>
          <input type="number" min="0" id="quantity" formControlName="quantity">
        </div>
      </div>
      <div class="col-12">
        <div class="d-flex flex-column">
          <label class="fw-bold">Descripción</label>
          <textarea rows="3" id="description" formControlName="description"></textarea>
        </div>
      </div>
    </div>
    <div class="justify-content-center mt-4 gap-3 d-flex">
      <button class="custom-button" (click)="saveInvoice()">
        @if (invoice) {
          GUARDAR
        } @else {
          AÑADIR
        }
      </button>
      <a class="custom-button cancel" routerLink="/invoice-list">CANCELAR</a>
    </div>
  </form>
</div>
