<div class="container d-flex flex-column align-items-center">
  <h1 class="mb-5 text-white">Lista de Facturas</h1>
  <table id="table">
    <thead id="table-header">
    <tr class="d-none d-sm-table-row">
      <th scope="col">Comercio</th>
      <th scope="col">Concepto</th>
      <th scope="col">Tipo de Gasto</th>
      <th scope="col">Fecha</th>
      <th scope="col">Precio</th>
      <th></th>
    </tr>
    </thead>
    <tbody id="table-body">
      @for (item of products; track $index) {
        <tr id="tr-body" class="border-bottom">
          <td class="d-flex d-sm-table-cell flex-column" routerLink="/invoice-form/{{item.id}}">
            <div class="d-flex justify-content-between">
              <label class="d-block d-sm-none fw-bold">Comercio</label>
              <span>{{ item.commerce }}</span>
            </div>
          </td>
          <td class="d-flex d-sm-table-cell flex-column" routerLink="/invoice-form/{{item.id}}">
            <div class="d-flex justify-content-between">
              <label class="d-block d-sm-none fw-bold">Concepto</label>
              <span>{{ item.concept }}</span>
            </div>
          </td>
          <td class="d-flex d-sm-table-cell flex-column" routerLink="/invoice-form/{{item.id}}">
            <div class="d-flex justify-content-between">
              <label class="d-block d-sm-none fw-bold">Tipo de Gasto</label>
              <span>{{ item.expenseType }}</span>
            </div>
          </td>
          <td class="d-flex d-sm-table-cell flex-column" routerLink="/invoice-form/{{item.id}}">
            <div class="d-flex justify-content-between">
              <label class="d-block d-sm-none fw-bold">Fecha</label>
              <span>{{ item.date | date:undefined:undefined:"es" }}</span>
            </div>
          </td>
          <td class="d-flex d-sm-table-cell flex-column" routerLink="/invoice-form/{{item.id}}">
            <div class="d-flex justify-content-between">
              <label class="d-block d-sm-none fw-bold">Precio</label>
              <span>{{ item.quantity | currency:"EUR" }}</span>
            </div>
          </td>
          <td class="text-center d-flex d-sm-table-cell flex-column">
            <i class="pi pi-trash text-danger" (click)="deleteInvoice(item.id!)"></i>
          </td>
        </tr>
      }
    </tbody>
  </table>
  <div class="d-flex w-100 justify-content-end">
    <a class="custom-button mt-4" routerLink="/invoice-form/new">AÑADIR FACTURA</a>
  </div>
</div>
