<div class="container d-flex flex-column mb-1 align-items-center">
  <h1 class="text-white mb-4">Modifica tus datos</h1>
  <div class="d-flex flex-column align-items-center">
    <form [formGroup]="form" *ngIf="form">
      <div class="form-container d-flex flex-column gap-3">
        <div class="d-inline-flex flex-row align-items-center gap-2">
          <i class="pi pi-user"></i>
          <input id="username" formControlName="username" type="text" placeholder="Nombre de usuario">
        </div>
        <div class="d-inline-flex flex-row align-items-center gap-2">
          <i class="pi pi-envelope"></i>
          <input id="email" formControlName="email" type="email" placeholder="Correo electrónico">
        </div>
        <div class="d-inline-flex flex-row align-items-center gap-2">
          <i class="pi pi-lock"></i>
          <input id="password" formControlName="password" type="password" placeholder="Contraseña">
        </div>
        <div class="d-inline-flex flex-row align-items-center gap-2">
          <i class="pi pi-lock"></i>
          <input id="rePassword" formControlName="rePassword" type="password" placeholder="Confirmar Contraseña">
        </div>
        <div class="d-flex justify-content-center mt-4">
          <button class="custom-button" (click)="check()">CONFIRMAR</button>
        </div>
      </div>
    </form>
  </div>
</div>

