<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gasto Gestión</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div html-page="basic-templates/header/header.html"></div>
<div class="content-container">
    <h2>LOREM IMPSUM</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu justo sed odio dignissim tempus sed nec
        tellus. Morbi sit amet dolor quis justo blandit vulputate. Class aptent taciti sociosqu ad litora torquent per
        conubia nostra, per inceptos himenaeos. Vivamus eget finibus mauris. Suspendisse tincidunt porta libero, id
        venenatis diam. Aliquam a egestas arcu. Quisque congue, purus at laoreet bibendum, arcu lacus posuere sapien, at
        vehicula ante enim quis est. Suspendisse hendrerit enim rhoncus massa efficitur, sed rutrum erat sodales.
        Vivamus enim est, semper sit amet aliquet ac, tempus a lorem. Quisque ac enim nec purus rhoncus fringilla. Morbi
        diam tellus, posuere non pretium vel, tincidunt ac quam.
    </p>
</div>
<div html-page="basic-templates/footer.html"></div>
<script src="basic-templates/include-html.js"></script>
</body>
</html>