<footer>
    <nav>
        <hr>
        <div class="d-flex flex-column flex-sm-row">
            <button>CONTACTO</button>
            <button>SUGERENCIAS</button>
            <a href="/gasto-gestion/web-pages/static-pages/privacy-policy.html">
                <button>
                    POLÍTICA DE<br>PRIVACIDAD
                </button>
            </a>
            <a href="/gasto-gestion/web-pages/static-pages/cookies-policy.html">
                <button>POLÍTICA DE <br>COOKIES</button>
            </a>
        </div>
    </nav>
</footer>
