<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    <link rel="stylesheet" href="styles.css"> 
</head>
<body>
<div style="display: flex; justify-content: center;">
    <form  action="#" method="post">
        <div id="papi" style="display: flex; flex-direction: column; text-align: center; gap: .25rem;">
            <h2 class="titulo" style="text-align: center; color: #FFFFFF;">Regístrate</h2>
            
            <template id="form-input">
                <label id="label" style="display: flex; align-items: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32" fill="#04D2FF">
                    </svg>
                    <input type="text" id="nombre_empresa" name="nombre_empresa" placeholder="Nombre de la Empresa" required> 
                </label>
            </template>

            <p style="text-align:center; color:#0DE8B3;">¿Ya está registrado? ¡Inicie sesión!</p>    
            <div class="button-container">
                <button type="submit" label="Confirmar" class="confirmar">Confirmar</button>
            </div>
        </div>
    </form>    
</div>
<script src="from.js"></script>
</body>
</html>
