<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gasto Gestión</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div html-page="basic-templates/header/header.html"></div>
<div class="content-container" style="color: white">
    <h2>LOREM IMPSUM</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu justo sed odio dignissim tempus sed nec
        tellus. Morbi sit amet dolor quis justo blandit vulputate. Class aptent taciti sociosqu ad litora torquent per
        conubia nostra, per inceptos himenaeos.
    </p>
    <div html-page="basic-templates/bar-chart/chart.html"></div>
</div>
<div html-page="basic-templates/footer.html"></div>
<script src="basic-templates/include-html.js"></script>
</body>
</html>