<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table id="table">
    <thead id="table-header">
    <tr>
        <template id="th-template">
            <th class="th-table"></th>
        </template>
    </tr>
    </thead>
    <tbody id="table-body">
        <template>
            <tr>
                <td data-index="0"></td>
            </tr>
        </template>
    </tbody>
</table>
<script src="table-template.js"></script>
</body>
</html>
