<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <table id="table">
        <thead>
            <tr>
                <th>Columna 1</th>
                <th>Columna 2</th>
                <th>Columna 3</th>
                <th>Columna 4</th>
            </tr>
        </thead>
        <tbody>
            <tr id="row-template">
                    <td>Contenido Fila 1 Columna 1</td>
                    <td>Contenido Fila 2 Columna 2</td>
                    <td>Contenido Fila 3 Columna 3</td>
                    <td>Contenido Fila 4 Columna 4</td>
            </tr>
        </tbody>
    </table>
    <script src="table-template.js"></script>
</body>
</html>