<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gasto Gestión</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div html-page="basic-templates/header/header.html"></div>
<div class="content-container">
    <h2>LOREM IMPSUM</h2>
    <div html-page="basic-templates/table/table-template.html"></div>
    <div class="button-container end" style="margin-top: 10px">
        <button>Lorem Impsum</button>
    </div>
</div>
<div html-page="basic-templates/footer.html"></div>
<script src="basic-templates/include-html.js"></script>
</body>
</html>