@import "primeng/resources/themes/lara-dark-blue/theme.css";
@import "primeng/resources/primeng.css";

body {
  background-color: #1F2937 !important;
  color: white !important;
  padding-bottom: 10rem;
  @media screen and (max-width: 575px) {
    padding-bottom: 18rem;
  }
}

.container-fluid {
}
