@import "primeng/resources/themes/lara-dark-blue/theme.css";
@import "primeng/resources/primeng.css";

body {
  background-color: #1F2937 !important;
  color: white !important;
}

.custom-button {
  text-decoration: none;
  background-color: transparent;
  color: rgb(255, 193, 7);
  border: 2px solid #ffc107;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  &.cancel {
    color: #EA3E3E;
    border: 2px solid rgb(234, 62, 62);
  }
  &:hover {
    background: none;
    color: rgba(176, 132, 9, 0.93);
    &.cancel {
      color: rgba(187, 13, 13, 0.93);
    }
  }
}

/*.custom-button-container {
  button, a {
    @extend .custom-button;
  }
}*/
/*body {
  background-color: #1F2937 !important;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, serif;
  position: relative;
  color: white;
  &::after {
    content: '';
    padding-bottom: 10rem;
  }
  @media screen and (max-width: 575px) {
    &::after {
      padding-bottom: 18rem;
    }
  }
}

h2 {
  text-align: center;
}

  & div {
    display: flex;
    justify-content: space-evenly;
  }

  & hr {
    border: none;
    border-bottom: 1px solid #0DE8B3;
    width: 100%;
    margin: 10px 0;
  }

}

.button-container {
  text-align: center;
  display: flex;
  gap: .6rem;
  & button, & a {
    text-decoration: none;
    background-color: transparent;
    color: rgb(255, 193, 7);
    border: 2px solid #ffc107;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    &.cancel {
      color: #EA3E3E;
      border: 2px solid rgb(234, 62, 62);
    }
    &:hover {
      background: none;
      color: rgba(176, 132, 9, 0.93);
      &.cancel {
        color: rgba(187, 13, 13, 0.93);
      }
    }
  }
  &.end {
    justify-content: end;
  }
}

#form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  #input-parent {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    svg {
      font-size: 38px;
    }
  }
}



#data-container .text-container, input {
  border-bottom: solid #778899;
  margin-bottom: 1rem;
}
*/
