<div style="display: flex; justify-content: center;">
    <div id="form-container">
        <h2 class="titulo" style="text-align: center; color: #FFFFFF;">Lorem Impsum</h2>
        <div id="input-parent">
            <template id="form-input-template">
                <label id="label" style="display: flex; align-items: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32" fill="#04D2FF">
                        <path d=""></path>
                        <path d=""></path>
                        <path d=""></path>
                    </svg>
                    <input type="text" name="nombre_empresa" placeholder="Nombre de la Empresa">
                </label>
            </template>
        </div>
        <p style="text-align:center; color:#0DE8B3;">Lorem ipsum dolor sit amet</p>
        <div class="button-container">
            <button type="button" class="confirmar">Lorem Impsum</button>
        </div>
    </div>
    <script id="form-script" src="/templates/basic-templates/form/form.js" json-data=""></script>
</div>
